# Eclipse / STM32CubeIDE
.metadata/

# Build folders
**/Debug/
**/Release/

# Folders not relevant for T3200
**/BALi_BlckP/
**/BLINK2_BlckP/
**/HAL_Blinky1/

# Compiled files
*.o
*.d
*.elf
*.map
*.log
*.pdom
*.su

# OS
.DS_Store
Thumbs.db